.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  color: white;
  font-size: 24px;
}

.tv-cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding: 20px;
  align-items: start;
}
.tv-card-wrapper.disabled {
  background-color: red;
}
.tv-card-wrapper {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  min-width: 100px; 
  max-width: none;
}

.video-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.video-delete-button:hover {
  background-color: #ff7875;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
